//
// Copyright 2015 Adrien Navratil
//
// This file is part of Papersheet.
//
// Papersheet is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Papersheet is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with Papersheet.  If not, see <http://www.gnu.org/licenses/>.
//

@import "../global";

.background {
  z-index: -#{$PAPERSHEET_MAX_Z};
}

.foreground {
  z-index: $PAPERSHEET_MAX_Z;
}

@for $i from 0 through $PAPERSHEET_MAX_Z {
  .z#{$i} {
    z-index: $i;
  }

  .z-#{$i} {
    z-index: -#{$i};
  }
}